.tag    {  
    background-color: var(--white); 
    color: var(--black);
    padding: 4px 14px;
    border-radius: var(--border-radius);

}

.greenStyle { 
    background-color: var(--paris-green); 
    color: var(--white);
}

.label {
    font-size: 16px;
    font-weight: 700;
}