:root {
  --max-width: 1120px;
  --border-radius: 4px;
  
  --black: #000000;
  --charcoal: #343839;
  --dawn-pink: #E8ECEF;
  --paris-green: #38CB89;
  --white: #ffffff;
  --smoked-grey: #6C7275;
  --black-bean: #141718;
  --white-smoked: #F3F5F7;
  --ghost: #CBCBCB;
  --catskill-white: #F0F4F8;

  --font-family-INTER: 'Inter', sans-serif;

  --font-weight-LIGHT: 300;
  --font-weight-REGULAR: 400;
  --font-weight-MEDIUM: 500;
  --font-weight-SEMI_BOLD: 600;
  --font-weight-BOLD: 700;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
  }

  body {
    color: rgb(var(--black));
    background-color: var(--white); 
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  input {
    all: unset;
  }
  button {
    all: unset;
    cursor: pointer;
  }

  img, button {
    transition: transform 0.4s ease-in-out;
  }
  img:hover,
  button:hover {
    transform: scale(1.05);
  }
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  ul li {
    list-style: none;
  }