.homeContent {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 60px auto 100px
}
.filtersWrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    column-gap: 24px;
}
.productsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   gap: 24px;
}

@media (max-width: 1120px) {
    .homeContent {
        padding: 0 16px;
    }
}